.playerBar {
  // background-color: var(--dark);
  color: var(--cream);
  height: 70px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  align-items: center;
  padding: 0 16px;
  max-width: 1400px;
  background-color: rgba($color: rgb(219, 225, 206), $alpha: 0.12);
}

.trackInfo {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.trackPic {
  border-radius: 50%;
}

.playerMaind {
  width: 55%;
}

.volumeSection {
  width: 20%;
  display: flex;
  align-items: center;
  color: var(--light);
}

.volSlider {
  padding-left: 16px;
}

.albumName {
  font-size: 14px;
  opacity: 0.75;
}

.playerControlContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
}
.playerControls {
  display: flex;
  gap: 24px;
  font-size: 20px;
  align-items: center;
}

.playerSkipBack:hover,
.playerSkipForward:hover,
.playerPlay:hover {
  color: var(--egg);
}

.playerSkipBack:active,
.playerSkipForward:active,
.playerPlay:active {
  color: var(--light);
}

.playButton {
  display: inline;
}

.pauseButton {
  display: none;
}

.seekBarContainer {
  display: flex;
  font-size: 16px;
  width: 100%;
  align-items: center;
  color: var(--light);
}

.playerCurrentTime {
  padding-left: 16px;
  padding-right: 8px;
}

.playerTotalTime {
  padding-left: 8px;
}

.slideContainer {
  display: flex;
  align-items: center;
  // background-color: rgba($color: rgb(219, 225, 206), $alpha: 0.12);
  width: 65%;
  padding: 0 16px;
  border-radius: 16px;
}

.timeSlider {
  width: 100%;
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
}

.timeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
}

.volumeSection {
  // background-color: rgba($color: rgb(219, 225, 206), $alpha: 0.12);
  padding: 0 0px 0 24px;
  border-radius: 16px;

  margin-top: 4px;
}

.volSlider {
  width: 50%;
}

.item-line {
  width: 100%;
  display: flex;
  gap: 8px;
}

.video-part {
  width: 50%;
  padding: 16px;
}

.text-part {
  color: var(--text-color);
}

.item-title {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  margin: 12px 0 20px 0;
}

.distribution {
  font-size: 14px;
  // font-weight: 300;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.text-part {
  width: 50%;
}

@media (min-width: 768px) {
  .playerBar {
    display: flex;
  }
}
