@media (min-width: 768px) {
  .mainSection {
    display: grid;
    height: calc(100vh - 70px);
    overflow: hidden;
    grid-template-columns: 3fr 7fr;
    grid-template-columns: 3fr 7fr;
  }

  .theatreMain {
    overflow: auto;
  }
  .sidebar {
    padding: 16px;
  }
  .sidebar-photo {
    display: inline;
  }

  .mentions {
    display: inline;
  }

  .sidebar-title-mobile-right {
    display: none;
  }

  .musique-citation {
    max-width: 260px;
  }
}
