.agenda-mainSection {
  height: 100%;
  overflow: hidden;
}

.agendaMain {
  // background-color: red;
  height: calc(100% - 212px);
}

.theatreMain {
  height: calc(100% - 192px);
  overflow: hidden;
}

.sidebar-agenda-inner {
  height: calc(100% - 144px);
}

.sidebar-music-inner {
  height: calc(100% - 144px);
  overflow: auto;
  margin: 0;
  padding: 0;
}

.sidebar-music-inner::-webkit-scrollbar {
  display: none;
}

.agendaItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  max-width: 100%;
}

.affiche {
  width: 50%;
}

.textPart {
  width: 50%;
  color: var(--text-color);
}

.textPart h3 {
  margin-top: 0;
}

.textPart .description a {
  color: var(--light);
}

.spec-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.description {
  font-weight: 400;
  color: var(--dark);
}

.spec-title {
  font-family: var(--font-title);
  font-size: 32px;
  letter-spacing: 0.05em;
  font-weight: 400;
  padding-top: 0px;
}

.spec-date {
  padding: 4px 0;
}

.spec-place {
  font-size: 18px;
}

.spec-video {
  width: 60%;
  padding-top: 52px;
}

.videoPart {
  width: 100%;
  overflow: hidden;
}

.ctd-itemImage {
  max-height: 200px;
  max-width: 200px;
}

@media (min-width: 768px) {
  .spec-image {
    width: 80%;
    max-height: 80%;
    object-fit: cover;
    object-position: left top;
  }

  .ctd-itemImage {
    max-height: 160px;
    max-width: 160px;
    object-fit: cover;
  }

  .vimeo {
    margin-left: 0;
  }

  .ctd-textPart {
    grid-area: textPart;
    padding: 0 16px;
  }

  .ctd-videoPart {
    grid-area: videoPart;
  }

  .ctd-imagePart {
    grid-area: imagePart;
  }
  .ctd-distribution {
    font-weight: 300;
  }
  .ctd-gridder {
    padding: 16px 0;
    display: grid;
    grid-template-rows: 1fr 20px;
    gap: 12px;
  }

  .ctd-vimeo {
    margin-top: 0px;
  }

  .ctd-gridder:nth-child(odd) {
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-areas:
      "imagePart videoPart textPart"
      "line line line";
  }

  //   .ctd-gridder:nth-child(odd) .ctd-textPart {
  //     align-self: start;
  //   }

  .ctd-gridder:nth-child(even) {
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-areas:
      "textPart videoPart imagePart"
      "line line line";
  }

  .ctd-gridder:last-child .line {
    display: none;
  }
}

// ItemMapper ALT
.alt-gridder {
  color: var(--midnight);
}

.alt-itemImage {
  width: 200px;
}

.item-info {
  padding: 0;
  width: 80%;
  font-size: 14px;
}

.item-distribution {
  padding: 8px 0;
}

.fhImage {
  max-width: 100vw;
  max-height: 100vh;
}

.imageRow {
  padding: 24px 8px 8px;
  display: flex;
}

.item-image-main {
  max-width: 80%;
  max-height: 350px;
}

.thumbImage {
  max-width: 100px;
  max-height: 100px;
}

.rotateLeft {
  transform: rotate(4deg);
}

.rotateRight {
  transform: rotate(-8deg);
}

.mp3Extrait {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.mp3Extrait:active {
  opacity: 50%;
}

// ItemMapper CTD ALT

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media (min-width: 768px) {
  .alt-textTitle {
    font-family: var(--font-title);
    color: var(--midnight);
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .alt-flexor {
    display: grid;
    grid-template-columns: 40% 1fr;
    width: 100%;
    padding: 0px 0 0 0;
    margin: 0;
  }

  .co-alt-flexor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0px 0 0 0;
    margin: 0;
  }

  .co-alt-videoPart iframe {
    width: 90%;
    height: 270px;
  }

  .ctd-alt-gridder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .ctd-alt-videoPart iframe {
    display: block;
    width: 500px;
    height: 500px;
  }

  .alt-imagePart {
    width: 100%;
  }

  .alt-textPart {
    width: 95%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .alt-itemImage {
    padding-top: 4px;
    width: 90%;
    // rotate: 2deg;
  }

  .alt-description {
    line-height: 1.5;
    font-size: 16px;
  }

  .alt-videoPart {
    max-height: 120px;
  }
  .alt-videoPart iframe {
    // width: 60%;
    width: 150px;
    height: 100px;
    margin-top: 16px;
  }

  // .alt-gridder:nth-child(even) .alt-itemImage {
  //   rotate: -2deg;
  // }
}
